body{
  background-position: top;
}
ul {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
  padding: 0;
  text-align: right;
}
ul li{
  display: inline;
  padding: 40px;
  font-family: 'Francois One', sans-serif;
  font-size: 22px;
}
ul a{
  text-decoration: none;
  color: #282747;
}
ul a:hover{
  background-color: #282747;
  color: white;
}
ul a:active{
  background-color: #282747;
  color: white;
}
#description{
  margin-left: 340px;
  margin-top: 350px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #282747;
}
.myName{
  color: #282747;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
#title{
  margin-top: 100px;
  color: #282747;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.padhai{
  margin-top: 2px;
  margin-left: 400px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #282747;
}
#internships_title{
  margin-top: 100px;
  color: #282747;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.internship_data{
  margin-top: 2px;
  margin-left: 164px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #282747;
}
#skills_title{
  margin-top: 100px;
  color: #282747;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.skills_data{
  margin-top: 2px;
  margin-left:50%;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #282747;
}
#contact_title{
  margin-top: 100px;
  color: #282747;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
div a{
  text-decoration: none;
}
.github{
  margin-left: 20%;
}
.linkedin{
  margin-left: 20%;
}
.mail{
  margin-left: 20%;
}
.insta{
  margin-left: 20%;
}
